@import "tailwindcss";

@theme {
  --color-banner: #ffffff;
  --color-base: #e32c2c;
  --color-text: #333333;
  --color-footer: #ff8515;
  --color-bg: #525252;
  --color-bebidas: #e5e5e5;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  min-width: 320px;
}
